{% extends 'core/layout.html' %}

{% block content %}
<main>
    {% load static %}




    <div class="card">
        <div class="card-body" style="text-align: center;">
            <div class="container" style="text-align: center; padding: 10%;">

                <h1>Toma de Horas - Taller de Vehículos</h1>
                <h4>Aqui puede ver sus horas tomadas.</h4>
                <br>
                
                    <div class="row">
                        {%for c in Citas%}
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem; ">
                                <div class="card-body">
                                    <h5 class="card-title">{{c.servicio}}</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">{{c.fecha}}</h6>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">{{c.hora}}</h6>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">{{c.vehiculo}}</h6>
                                    <a href="#" class="card-link">Eliminar</a>
                                    <a href="{% url 'editarhora'%}" class="card-link">Modificar</a>
                                    <br>
                                </div>
                            </div>
                        </div>   
                        {% endfor %}                 
                    </div>
                
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        </div>
    </div>
    </div>


    {% endblock %}