{% extends 'core/layout.html' %}

{% block content %}
<main>
    {% load static %}




    <div class="card">
        <div class="card-body" style="text-align: center;">
            <div class="container" style="text-align: center; padding: 10%;">

                <h1>Toma de Horas - Taller de Vehículos</h1>
                <h4>Aqui puede ver sus horas tomadas.</h4>
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Cambio de aceite</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Hora: 10:45 </h6>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Fecha: 26/11/23 </h6>
                                <a href="#" class="card-link">Eliminar</a>
                                <a href="#" class="card-link">Modificar</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Cambio de frenos</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Hora: 12:15 </h6>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Fecha: 27/11/23 </h6>
                                <a href="#" class="card-link">Eliminar</a>
                                <a href="#" class="card-link">Modificar</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Mantencion general</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Hora: 12:15 </h6>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Fecha: 29/11/23 </h6>
                                <a href="#" class="card-link">Eliminar</a>
                                <a href="#" class="card-link">Modificar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        </div>
    </div>
    </div>


    {% endblock %}