{% extends 'core/layout.html' %}

{% block content %}
<main>
  {% load static %}
        

    

        <div class="card">
            <div class="card-body" style="text-align: center;">
                <div class="container mt-5">
                    <h1>Toma de Horas - Taller de Vehículos</h1>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                        <button type="submit" value="Guardar" class="btn btn-primary">Tomar Hora</button>
                    </form>
                </div>

                


                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            </div>
        </div>
    </div>


{% endblock %}
